@model List<DepositosMostarModel>


@{
    ViewData["Title"] = "MostarDepo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


<title>DadosDepositos</title>

<head>Listar Depositos</head>

 <p> </p>
<b></b>
<table style="width: 100%" id="tabela">
    <thead>
    <tr>
        <th>Valor</th>
        <th>Banco</th>
        <th>NumeroConta</th>
        <th>Titulares</th>
        <th>TaxaJurosAnual</th>
        <th>idAtivoFinanceiro</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var depo in @Model)
    {
        <tr>
            <td>@depo.Valor</td>
            <td>@depo.Banco</td>
            <td>@depo.NumeroConta</td>
            <td>@depo.Titulares</td>
            <td>@depo.TaxaJurosAnual</td>
            <td>@depo.idAtivoFinanceiro</td>

            <td>
                <a asp-action="EditarDeposito" asp-route-id="@depo.IdDepo">Editar</a>
                <a asp-action="EliminarDepo" asp-route-id="@depo.IdDepo">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
 