@model List<AtivosMostrarModel>


@{
    ViewData["Title"] = "MostarFundo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


<title>DadosAtivoFinanceiro</title>

<head>Listar Ativos</head>



 <p> </p>
<b></b>
<table style="width: 100%" id="tabela">
    <thead>
    <tr>
        <th>Dataini</th>
        <th>Duracao</th>
        <th>Percentagemimposto</th>
        <th>AtivoOpcao</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var ativ in @Model)
    {
        <tr>
            <td>@ativ.Dataini</td>
            <td>@ativ.Duracao</td>
            <td>@ativ.Percentagemimposto</td>
            <td>@ativ.ativoOpcao</td>

            <td>
                <a asp-action="EditarAtivo" asp-route-id="@ativ.idAtivoFinanceiro">Editar</a> |
                <a asp-action="EliminarAtivo" asp-route-id="@ativ.idAtivoFinanceiro">Eliminar</a>
            </td>

        </tr>
    }
    </tbody>
</table>
